:host {
    display: block;
    padding: 0 16px;
    max-width: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.focus:hover {
    background: #d0d6d69e;
}

.focus-item {
    background: #d0d6d69e;
}

.mat-chip:not(.mat-basic-chip) {
    padding: 2px 6px;
}

h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.action {
    cursor: pointer
}

.type-chip{
    float: right;
}

.delete-button{
    float: right;
}

.list li {
    list-style: none;
    padding: 10px;
    margin-left: -10%;
}