<center>
  <h3>
    <ng-content select=".title"></ng-content>
  </h3>
  <form #customerForm="ngForm" (ngSubmit)="customerForm.valid && addCustomerAction()">
    <mat-form-field class="example-form-field">
      <input matInput type="search" name="customerName" [(ngModel)]="customerName" 
        placeholder="Enter customer name" required/>
    </mat-form-field>
    <button type="submit" mat-mini-fab color="primary">
      <mat-icon>add</mat-icon>
    </button>
  </form>
</center>
<mat-divider></mat-divider>

<ul class="list">
  <li *ngFor="let customer of customers">
    <bp-customer-item [customer]="customer" [searchTerm]="searchTerm"></bp-customer-item>
  </li>
</ul>