<center>
  <h3>
    <ng-content select=".title"></ng-content>
  </h3>
  <form #customerForm="ngForm" (ngSubmit)="customerForm.valid && addCustomerAction()">
    <mat-form-field class="example-form-field">
      <input matInput type="search" name="customerName" [(ngModel)]="customerName" placeholder="Enter customer name" required/>
    </mat-form-field>
    <button type="submit" mat-mini-fab color="primary">
      <mat-icon>add</mat-icon>
    </button>
  </form>
</center>
<mat-divider></mat-divider>

<ul class="list">
  <bp-customer-item *ngFor="let customer of customers"
    [customer]="customer" 
    (selectCustomer)="select.emit($event)" 
    (openDialog)="edit.emit($event)" 
    (removedCustomer)="remove.emit($event)"
    [searchTerm]="searchTerm">
  </bp-customer-item>
</ul>