<mat-list>
  <center>
      <h3>
        <ng-content select=".title"></ng-content>
      </h3>
      <mat-form-field class="example-form-field">
        <input matInput type="text" placeholder="Enter customer name" [(ngModel)]="customerName" (keyup.enter)="addCustomerAction()"/>
        <button mat-button *ngIf="customerName" matSuffix mat-icon-button aria-label="Clear" (click)="customerName=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    <button mat-mini-fab color="primary" (click)="addCustomerAction()">
      <mat-icon>add</mat-icon>
    </button>
  </center>
  <mat-divider></mat-divider>
  <mat-list-item [@flyInOut]="'in'" *ngFor="let customer of customers" 
    (mouseenter)="customer.focused = true" 
    (mouseleave)="customer.focused = false" 
    [ngClass]="{'focus-item': customer.focused}" >
    <mat-icon class="action" mat-list-icon (click)="openDialogAction(customer)">mode_edit</mat-icon>
    <h4 mat-line>
      <a class="action" 
        (click)="selectCustomerAction(customer)" 
        [innerHTML]="customer.name | highlight: searchTerm">
      </a>
    </h4>
    <p mat-line> 
      <mat-chip-list>
        <mat-chip color="accent" selected="true">
          <mat-icon>monetization_on</mat-icon>
          {{calculateBalance(customer.balance) | number: '.0-0' }} 
        </mat-chip>
      </mat-chip-list>
    </p>
    <button mat-icon-button (click)="removedCustomerAction(customer.id)">
      <mat-icon aria-label="Delete">delete</mat-icon>
    </button>
  </mat-list-item>
  <mat-list-item *ngIf="customers?.length === 0">
    <p mat-line> 
      <ng-content select=".message"></ng-content> 
    </p>
  </mat-list-item>
</mat-list>