<bp-search-customer (searchChaned)="searchChanged($event)"></bp-search-customer>
<bp-customer-list [customers]="savingAccountCustomers" 
  (addCustomer)="addSavingAccountCustomer($event)"
  (openDialog)="openSaveCustDialog($event)"
  (removeCustomer)="removeSavingAccountCustomer($event)">
    <span class="title">Saving A/C</span>
    <span class="message">
      No Saving A/C(s).
    </span>
</bp-customer-list>
<bp-customer-list [customers]="currentAccountCustomers" 
  (addCustomer)="addCurrentAccountCustomer($event)"
  (openDialog)="openCurrentCustDialog($event)"
  (removeCustomer)="removeCurrentAccountCustomer($event)">
    <span class="title">Current A/C</span>
    <span class="message">
      Current A/C(s).
    </span>
</bp-customer-list>