<bp-search-customer (searchChaned)="searchChanged($event)"></bp-search-customer>
<bp-customer-list [customers]="savingAccountCustomers" 
  [searchTerm]="searchTerm"
  (add)="addSavingAccountCustomer($event)"
  (edit)="openSaveCustDialog($event)"
  (select)="selectCustomer($event)"
  (remove)="removeSavingAccountCustomer($event)">
    <span class="title">Saving A/C</span>
    <span class="message">
      No Saving A/C(s).
    </span>
</bp-customer-list>
<bp-customer-list [customers]="currentAccountCustomers" 
  [searchTerm]="searchTerm"
  (add)="addCurrentAccountCustomer($event)"
  (edit)="openCurrentCustDialog($event)"
  (select)="selectCustomer($event)"
  (remove)="removeCurrentAccountCustomer($event)">
    <span class="title">Current A/C</span>
    <span class="message">
      Current A/C(s).
    </span>
</bp-customer-list>
<ng-container #showSelectedCustomer></ng-container>